doctype html 
html(lang='en')
head
        link(rel="stylesheet" type="text/css" href="./stylesheets/style.css")

// My wonderful navbar
nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') My Website!
      body 
    ul.nav.navbar-nav
      li.active
        a(href='/') Contact us
      li
        a(href='/Home') Home
      li
        a(href='/About') Our Services
        
   
          
.container
  h2 Contact us

  p.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat.
    
  p.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat